.navBar {
  background-color: lightgrey;    
  text-align: center;
  background-image: url(../public/bg.png);

}
#search{
	width: 40%;
  padding: 3.5px;
	margin-top: 5px;
  border-radius: 25px;
	border: 1px solid black;
  background-color: white;
  color: black;
  font-size: large;
}
.button{
	width: 20%;
  height: 40px;
	background-color: red;
 	border-radius: 25px;
  margin-top:5px;
  margin-bottom: 5px;
  margin: 2px;
  font-size: large;
}
.DataCont{
  background-color: rgb(62, 62, 62);
}

.hover{
  display: inline-block;
}

.hover figure img {
  padding: 5px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.hover figure:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.middleTxt {
  transition: .5s ease;
  opacity: 0;
  margin-left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover:hover figure img {
  opacity: 1;
  
}

.hover:hover .middleTxt {
  opacity: 1;
}

.Container{
  display: flex;
  flex-direction: row;
}

.btn-group{
  margin-left: 27%;
  height: 50px;
  margin-top: 10px;
}

.btn-group p{
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-right: 10px;
}

.text {
  color: lightgrey;
  font-size: 16px;
  padding: 13px 15px;
}

.header{
  color: white;
  font-size: 50px;
  margin-left: 10px;
}