.navBar {
  background-color: lightgrey;    
  text-align: center;
  background-image: url(../public/bg.png);

}
#search{
	width: 40%;
  padding: 3.5px;
	margin-top: 5px;
  border-radius: 25px;
	border: 1px solid black;
  background-color: white;
  color: black;
  font-size: large;
}
.button{
	width: 20%;
  height: 40px;
	background-color: red;
 	border-radius: 25px;
  margin-top:5px;
  margin-bottom: 5px;
  margin: 2px;
  font-size: large;
}
.DataCont{
  background-color: rgb(62, 62, 62);
}

.hover{
  position: relative;
  display: inline-block;
  transition: transform 0.2s;
}

.hover figure img{
  margin-left: 20px;
}

.hover:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  background: rgb(0, 0, 0, 0.8);
  transition: 0.5s ease;
  width:94%;
  opacity: 0;
  bottom: 0;
  color: white;
  font-size: 15px;
  padding: 20px;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 5%;
}

.hover:hover .overlay {
  opacity: 1;
}

.Container{
  display: flex;
  flex-direction: row;
}

.btn-group{
  margin-left: 27%;
  height: 50px;
  margin-top: 10px;
}

.btn-group p{
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-right: 10px;
}

.header{
  color: white;
  font-size: 50px;
  margin-left: 10px;
}

.DetailsContainer{
  background-color: rgb(35, 35, 35);
  color: white;
  font-size: 17px;
  display: inline-flex;
}