.navBar {
  background-color: lightgrey;    
  text-align: center;
  background-image: url(../public/bg.png);

}
#search{
	width: 40%;
  padding: 3.5px;
	margin-top: 5px;
  border-radius: 25px;
	border: 1px solid black;
  background-color: white;
  color: black;
  font-size: large;
}
.btn{
	width: 20%;
  height: 40px;
	background-color: red;
 	border-radius: 25px;
  margin-top:5px;
  margin-bottom: 5px;
  margin: 2px;
  font-size: large;
}